@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.web-body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/024/396/102/large_2x/a-view-from-space-to-a-galaxy-and-stars-universe-filled-with-stars-nebula-and-galaxy-panoramic-shot-wide-format-elements-of-this-image-furnished-by-nasa-free-photo.jpg');
}
.nav-logo{
    height:80px;
}
.item-nav{
    color:white;
    font-family: "Poppins", sans-serif;
}
.nav-right{
    margin:auto;
    margin-right:10px;
}
.item-nav:hover{
    color:orange;
}
.Home-left{
    color:white;
    padding:100px;
}
.Home-right{
    padding:100px;
}
.home-h1{
    color:orange;
}
.home-pic{
    height:350px;
    width:350px;
}
.skills-h1{
    text-align:center;
    color:orange;
    padding-top:30px;
    padding-bottom:30px;
}
.skill-card{
    background-color:rgb(217, 237, 101);
}
.skill-row{
    padding-top: 30px;
}
.contact{
    color:white;
    text-align: center;
    font-size: 20px;
}
.social-icon-img{
    height:50px;
}